<!DOCTYPE HTML>
<html lang="pt-br">
<head>

    <title>UEFA | Login</title>

    <!-- Meta TAGS -->
    <meta name='description' content='site demonstrativo com intuíto de informar o usuário e vender ingressos sobre o jogo'>
    <meta name='author' content='Matheus - Koddex'>
    <meta name='robots' content='index, follow'>
    <meta name='googlebot' content='index, follow'>
    <meta name='distribution' content='global'>
    <meta name='revisit-after' content='period'>
    <meta name='rating' content='general'>
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />
    <meta name='format-detection' content='telephone=no'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>

    <!-- Links - CSS -->
    <link rel="stylesheet" type="text/css" href="content/ma-main.css">
    <link rel="stylesheet" type="text/css" href="content/ma-login.css">
    
    <link rel='canonical' href=''/>
    <link rel='shortcut icon' type='/image/png' href=''/>
    
    <!-- Vue.JS - include -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <!-- Caso não tenha acesso a internet -->
    <script src="scripts/vue.js"></script>
    
    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="scripts/ma-main.js"></script>
    

</head>
<body>
    <div id="login-1">
        <login></login>
    </div>
</body>
<script src="scripts/vue-login.js"></script>